mixin range-slider(options)

  .range-slider
    .range-slider__title-wrap
      .range-slider__title= options.title
      .range-slider__caption
    input.range-slider__input(
      type = "text",
      value = "",
      name= options.name,
      data-unit= options.unit,
      data-min= options.min,
      data-max=options.max,
      data-from= options.from,
      data-to= options.to
    )