mixin radio(options)

  .radio
    - if (options.title)
      .radio__title= options.title
    
    .radio__wrap
      - for (let button of options.buttons)
        label.radio__label
          input.radio__input(
            type= 'radio'
            name= options.name
            value= button.value
            )
          .radio__text= button.text