extends ../../layouts/ui-layout/ui-layout.pug

block variables
  - let pageColor = "white";

block meta
  meta(name="keywords" value="color, type")
  meta(name="description" value="this page contains colors and types of the project")
  
block title
  title Colors & Type

//- block links
//-   link(href="./colors-n-type.scss" rel="stylesheet)


block content
  .colors-n-type
    .colors-n-type__color-column
      -
        let colors = [
          {colorClass: "dark-shade-100", colorName: "Dark Shade 100%", colorCode: "#1F2041"},
          {colorClass: "dark-shade-75", colorName: "Dark Shade 75%", colorCode: "#1F2041"},
          {colorClass: "dark-shade-50", colorName: "Dark Shade 50%", colorCode: "#1F2041"},
          {colorClass: "dark-shade-25", colorName: "Dark Shade 25%", colorCode: "#1F2041"},
          {colorClass: "dark-shade-5", colorName: "Dark Shade 5%", colorCode: "#1F2041"},
          {colorClass: "purple", colorName: "Purple", colorCode: "#BC9CFF"},
          {colorClass: "green", colorName: "Green", colorCode: "#6FCF97"},
        ]
      - for (let color of colors)
        -
          let colorClassName = `colors-n-type__color-sample`;
          colorClassName += ` ${colorClassName}_color_${color.colorClass}`;

        .colors-n-type__color-wrap
          div(class = colorClassName)
          .colors-n-type__color-text
            .colors-n-type__color-name= color.colorName
            .colors-n-type__color-code= color.colorCode

    .colors-n-type__type-column
      -
        let types = [
          {tagSample: "h1", typeSample: "This one is the sub-section or widget title"},
          {tagSample: "h2", typeSample: "Next one is the item title inside widgets"},
          {tagSample: "h3", typeSample: "This is a label or CTA text"},
          {tagSample: "body", typeSample: "This is the body text which is used for most of\u00A0the\u00A0design, like paragraphs, lists, etc."},
        ]
      - for (let type of types)
        -
          let tagSampleClass = ["colors-n-type__tag-sample"];
          let typeSampleClass = ["colors-n-type__type-sample"];

          tagSampleClass.push(`colors-n-type__tag-sample_tag_${type.tagSample}`);
          typeSampleClass.push(`colors-n-type__type-sample_tag_${type.tagSample}`);

        .colors-n-type__type-wrap
          div(class = tagSampleClass)= type.tagSample
          div(class = typeSampleClass)= type.typeSample