mixin review({title, users})
  .review
    -if (title)
      .review__title-wrap
        h2.review__title= title
        .review__amount
          span.review__amount-number= users.length
          span.review__amount-measure-unit
    
    -for (let user of users)
      .review__user
        .review__user-info
          img(src=user.photo alt="photo" class="review__user-photo")
          .review__user-name= user.name
          .review__time-passed= user.date
        .review__user-text-wrap
          .review__like-button-wrap
            +like-button({
              defaultNumber: user.likes
            })
          .review__user-text= user.text
