mixin toggle(options)

  .toggle
    - if (options.title)
      .toggle__title= options.title
    
    - for (let button of options.buttons)
      label.toggle__label
        input.toggle__input(
          type= "checkbox",
          name= button.name,
          value= button.value
          )
        .toggle__text= button.text