- 
  let facilities = [
    {itemText: "спальни", itemValue: 0},
    {itemText: "кровати", itemValue: 0},
    {itemText: "ванные комнаты", itemValue: 0}
  ];
- 
  let guests = [
    {itemText: "взрослые", itemValue: 0},
    {itemText: "дети", itemValue: 0},
    {itemText: "младенцы", itemValue: 0}
  ];

mixin dropdown(drop)
  //-possible arguments of mixin calling
    drop = {
      dropdownContent: guests,
      haveClearButton: true;
      haveApplyButton: true; 
    };
  - 
    let dropdownClassName = "dropdown";
    dropdownClassName += drop.isWide ? " dropdown_width_large" : "";
  div(class = dropdownClassName)
    if drop.title
      .dropdown__title-wrap
        .dropdown__title= drop.title
        if drop.state
         .dropdown__state-field= drop.state

    .dropdown__button
      .dropdown__button-text= drop.buttonText
      .dropdown__button-arrow
        i.material-icons expand_more
    
      //- снизу все не стилизовано
      ul.dropdown__list
        
        //-определение миксина элемента дропдауна
        mixin dropdown__item(prop)

          //-array iteration using (for .. of)
          - for (let item of prop) {
            li.dropdown__item
              .dropdown__item-text= item.itemText
              .dropdown__item-value= item.itemValue
          - }

        //-вызов миксина элемента дропдауна
        +dropdown__item(drop.content)     